
.env


__pycache__/
*.pyc
*.pyo
*.pyd
Pipfile
Pipfile.lock
poetry.lock


venv/
env/
.env/
*.venv


*.sqlite3
*.db

logs/
*.log
*.out
*.err


.vscode/
.idea/
*.sublime-project
*.sublime-workspace


*.dockerfile
docker-compose.override.yml


migrations/


.coverage
htmlcov/
*.cover
*.pyc
